.portfolio_container {
  display: block;
}

.portfolio_item {
  display: flex;
  padding: 1.5rem;
}

.portfolio-text {
  display: block;
  flex: 6;
}

.portfolio_item .btn {
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  margin-right: 2rem;
}

.portfolio_item-image {
  border-radius: 0.5rem;
  overflow: hidden;
  flex: 6;
}

.portfolio_item h3 {
  margin: 1.2rem 0;
}

.portfolio_item p {
  margin: 1.2rem 0;
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* -------------- MEDIA QUERIES (MEDIUM DEVICES) ------------------- */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    display: block;
  }

  .portfolio_item {
    display: block;
    margin-bottom: 50px;
    padding: 1.5rem;
  }

  .portfolio-text {
    display: block;
    flex: 6;
    margin-bottom: 2rem;
  }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) ------------------- */
@media screen and (max-width: 600px) {
  .portfolio_container {
    display: block;
  }
}
