header h1 {
  font-size: 3.5rem;
  color: var(--color-primary);
  font-weight: 600;
}

header h5 {
  font-size: 1.5rem;
}

.header_container {
  display: flex;
  position: relative;
  justify-content: center;
}

.header_content {
  display: block;
  padding-top: 7rem;
  margin-top: 10rem;
}

/* ------------- CTA ---------------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
}

/* ------------- HEADER SOCIALS ---------------- */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.3rem;
}

.header_socials a {
  color: var(--color-primary);
}

.header_socials a:hover {
  color: var(--color-hover);
}

.header_socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ------------- SCROLL DOWN ---------------- */
.scroll_down {
  position: absolute;
  right: -2.3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  bottom: 1rem;
  color: var(--color-primary);
}

.scroll_down:hover {
  color: var(--color-hover);
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) ------------------- */
@media screen and (max-width: 600px) {
  header {
    height: 90vh;
  }

  header h1 {
    font-size: 3rem;
  }

  header h5 {
    font-size: 16px;
  }

  .header_content {
    padding: 0;
  }

  .header_logo {
    display: none;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }
}

/* -------------- MEDIA QUERIES (MEDIUM DEVICES) ------------------- */
@media screen and (max-width: 1024px) {
  header {
    height: 50vh;
  }

  .header_container {
    padding: 0 0 0 6rem;
  }
}

/* -------------- MEDIA QUERIES (LARGE DEVICES) ------------------- */
@media screen and (min-width: 1440px) {
  header {
    height: 64vh;
  }
}

@media screen and (min-width: 2000px) {
  header {
    height: 40vh;
  }
}
