@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #fffffe;
  --color-primary: #6246ea;
  --color-secondary: #b8c1ec;
  --color-secondary-variant: #3248b972;
  --color-tertiary: #e45858;
  --btn-text-color: #fffffe;
  --color-text: #2b2c34;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

/* -------------- GENERAL STYLES ------------------- */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
}

section > h2 {
  color: var(--color-text);
  margin-bottom: 3rem;
}

a {
  color: var(--color-tertiary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-tertiary);
  color: var(--btn-text-color);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--btn-text-color);
}

img {
  display: block;
  width: 100%;
}

/* -------------- MEDIA QUERIES (MEDIUM DEVICES) ------------------- */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) ------------------- */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    padding: 0 15px;
  }

  .section > h2 {
    margin-bottom: 2rem;
  }
}
