@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #fffffe;
  --color-primary: #7f5af0;
  --color-primary-variant: #f8f0ff;
  --color-secondary: #2cb67d;
  --color-secondary-variant: #f0f4ff;
  --color-hover: #b489d8;
  --color-text: #2b2e4a;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

/* -------------- GENERAL STYLES ------------------- */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h2 {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 36px;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
}

section > h2 {
  margin-bottom: 3rem;
}

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-text);
  border: 1px solid var(--color-primary);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-text);
}

img {
  display: block;
  width: 100%;
}

/* -------------- MEDIA QUERIES (MEDIUM DEVICES) ------------------- */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) ------------------- */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    padding: 0 15px;
  }

  .section > h2 {
    margin-bottom: 2rem;
  }
}
