nav {
  background: var(--color-secondary-variant);
  display: block;
  position: fixed;
  padding: 1.7rem 0.7rem;
  z-index: 2;
  border-radius: 3rem;
  margin: 30px 30px;
  top: 15rem;
  right: 0;
}

nav a {
  background: transparent;
  margin: 0.8rem 0;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-text);
  font-size: 1.2rem;
}

nav a:hover {
  background: var(--color-secondary-variant);
  color: var(--color-bg);
}

nav a.active {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) ------------------- */
@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
}
